@model IEnumerable<ECommerce.ViewModels.MenuLoaiViewModel>

<div class="mb-3">
    <h4>Danh mục</h4>
    <ul class="list-unstyled fruite-categorie">
        @foreach (var item in Model)
        {
            <li>
                <div class="d-flex justify-content-between fruite-name">
                    <a asp-controller="HangHoa" asp-action="Index" asp-route-loai="@item.MaLoai">
                        @item.TenLoai
                    </a>
                    <span>(@item.SoLuong)</span>
                </div>
            </li>
        }
    </ul>
</div>
