@model ECommerce.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đến với trang Web Shopii</h1>
    <p>Chọn sản phẩm bạn thích và thực hiện thao tác mua hàng.</p>
</div>

<!-- Hiển thị sản phẩm có tương tác cao -->
@Html.Partial("_TopInteractedProducts", Model.TopInteractedProducts)
